body {
	background-image: url("SUNFLOWER.JPG");
	background-size: cover;
	height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
}
           
h1 {
	text-align: center;
	background-color: #F69F22;
	font-family: Papyrus;
	border: 2px dotted blue;
	padding: 10px 15px 10px 15px;
	width: 250px;
	margin: 30px auto 20px;
}
            
p {
	text-align: justify;
	background-color: hsl(44, 96%, 63%);
	font-style: italic;
	padding: 20px;
	border-top: 3px solid black;
	border-right: 3px dotted black;
	border-bottom: 3px dashed black;
	border-left: 3px double black;
	width: 500px;
	margin: 0 auto;
}

span {
	font-weight: bold;
	font-style: italic;
	color: rgb(146,95,23);
	margin: 0px 5px 0px 2px;
	margin: 0 auto;
}