body {
	background-image: URL("sunflower.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	background-color: #F69F22;
	width: 500px;
	border: 3px groove #925F17;
	padding: 10px;
	margin: 30px auto;
}

#LE1 {
	text-align: center;
	background-color: hsl(44, 96%, 63%);
	width: 300px;
	border: 3px double #925F17;
	padding: 10px;
	margin: 100px 75px 10px 118px;
	color: black;	
}

#LE2 {
	text-align: center;
	background-color: hsl(44, 96%, 63%);
	width: 300px;
	border: 3px double #925F17;
	padding: 10px;
	margin: 150px 75px 10px 75px;
	color: black;	
}

#LE3 {
	text-align: center;
	background-color: hsl(44, 96%, 63%);
	width: 300px;
	border: 3px double #925F17;
	padding: 10px;
	margin: 100px 75px 10px 75px;
	color: black;	
}

#LE4 {
	text-align: center;
	background-color: hsl(44, 96%, 63%);
	width: 300px;
	border: 3px double #925F17;
	padding: 10px;
	margin: 150px 118px 10px 75px;
	color: black;
}

h4 {
	text-align: center;
	background-color: #E9BF59;
	width: 135px;
	border: 3px inset #925F17;
	padding: 5px 5px 5px 5px;
	position: fixed;
	bottom: 0;
}
